<h1><%= @user.id ? 'Edit Comment' : 'Create Comment' %></h1>
<hr />
<%= form_for @user do |f| %>
  <%= f.label :last_name %> 
<br />
  <%= f.text_field :email, required: true, autofocus: true %>
  <br />
  <%= f.submit %>
<% end %>